
[Unit]
Description=Ceph Configuration
Requires=docker.service
After=docker.service

[Service]
EnvironmentFile=/etc/environment
Restart=always
RestartSec=10s
TimeoutStartSec=0
TimeoutStopSec=0

ExecStartPre=/usr/bin/docker pull gambol99/ceph-config:develop
ExecStartPre=-/usr/bin/docker kill ceph-config
ExecStart=/usr/bin/bash -c "/usr/bin/docker run \
  --rm --net=host --privileged --name=ceph-config \
  -e ETCD=https://127.0.0.1:2379 \
  -e ETCD_PATH=/deis/store \
  -e HOST=${COREOS_PRIVATE_IPV4} \
  -e HOSTNAME=${HOSTNAME} \
  -v /etc/ceph:/etc/ceph:ro \
  -v /var/lib/ceph:/var/lib/ceph \
  -v /proc:/host/proc \
  -v /dev:/dev \
  -v /sys:/sys \
  -v /opt/bin:/opt/bin \
  gambol99/ceph-config:develop"

ExecStop=-/usr/bin/docker kill ceph-config
ExecStop=-/usr/bin/docker rm ceph-config

[Install]
WantedBy=multi-user.target

[X-Fleet]
MachineMetadata=ceph_monitor=true
Global=true
