
[Unit]
Description=Ceph Monitor
Requires=docker.service
After=docker.service

[Service]
EnvironmentFile=/etc/environment
Restart=always
RestartSec=10s
TimeoutStartSec=0
TimeoutStopSec=0

ExecStartPre=-/bin/etcdctl mkdir /deis/store
ExecStartPre=-/bin/etcdctl mkdir /deis/store/hosts
ExecStartPre=/usr/bin/docker pull gambol99/store-monitor:0.0.1
ExecStartPre=/usr/bin/bash -c "/bin/etcdctl set /deis/store/hosts/$(hostname -i) $(hostname)"
ExecStart=/usr/bin/bash -c "/usr/bin/docker run \
  --rm --net=host --name=ceph-monitor  \
  -e ETCD=http://127.0.0.1:2379 \
  -e HOST=${COREOS_PRIVATE_IPV4} \
  -e ETCD_PATH=/deis/store \
  -e HOSTNAME=${HOSTNAME} \
  -v /etc/ceph:/etc/ceph \
  -v /var/lib/ceph:/var/lib/ceph \
  gambol99/store-monitor:0.0.1"

[Install]
WantedBy=multi-user.target

[X-Fleet]
Global=true
MachineMetadata=ceph_monitor=true
