#
#   Author: Rohith
#   Date: 2015-06-11 16:17:51 +0100 (Thu, 11 Jun 2015)
#
#  vim:ts=2:sw=2:et
#

[Unit]
Description=Ceph Monitor
After=docker.service

[Service]
EnvironmentFile=/etc/environment
Restart=always
RestartSec=10s
TimeoutStartSec=0
TimeoutStopSec=0

ExecStartPre=-/bin/etcdctl mkdir /deis/store
ExecStartPre=-/bin/etcdctl mkdir /deis/store/hosts
ExecStartPre=/usr/bin/docker pull deis/store-monitor:v1.7.1
ExecStartPre=-/usr/bin/docker kill ceph-monitor
ExecStartPre=-/usr/bin/docker rm ceph-monitor
ExecStartPre=-/bin/mkdir -p /var/lib/ceph
ExecStartPre=/usr/bin/bash -c "/bin/etcdctl set /deis/store/hosts/$(hostname -i) $(hostname)"
ExecStart=/usr/bin/bash -c "/usr/bin/docker run \
  --rm --net=host --name=ceph-monitor \
  -e HOST=${COREOS_PRIVATE_IPV4} \
  -e ETCD_PORT=4001 \
  -e ETCD=${COREOS_PRIVATE_IPV4} \
  -e ETCD_PATH=/deis/store \
  -e HOSTNAME=${HOSTNAME} \
  -v /etc/ceph:/etc/ceph \
  -v /var/lib/ceph:/var/lib/ceph \
  deis/store-monitor:v1.7.1"

[Install]
WantedBy=multi-user.target

[X-Fleet]
MachineMetadata=ceph_monitor=true
Global=true
