#
#  Date: 2015-05-03 13:04:55 +0100 (Sun, 03 May 2015)
#
#  vim:ts=2:sw=2:et
#

[Unit]
Description=Kubernetes Registration Service
Documentation=https://github.com/kelseyhightower/kube-register
Requires=fleet.service
After=fleet.service

[Service]
Restart=always
RestartSec=10

EnvironmentFile=/etc/environment

Environment="URL=https://drone.io/github.com/gambol99/kube-register/files/kube-register.gz"
Environment="OUTPUT_FILE=/opt/bin/kube-register"
Environment="GZ_FILE=/opt/bin/kube-register.gz"
Environment="MD5SUM=e3634bc3a1d412fdd72b39e5282c5f5c"
ExecStartPre=/bin/mkdir -p /opt/bin
ExecStartPre=/usr/bin/bash -c 'until [[ -x ${OUTPUT_FILE} ]] && \
  [[ $(md5sum ${OUTPUT_FILE} | cut -f1 -d" ") == ${MD5SUM} ]]; \
  do wget -O ${GZ_FILE} ${URL} && /bin/gunzip ${GZ_FILE} -f && \
  chmod +x ${OUTPUT_FILE}; done'
ExecStart=/opt/bin/kube-register \
  -metadata=kubernetes=true \
  -fleet-endpoint=unix:///var/run/fleet.sock \
  -api-endpoint=http://127.0.0.1:8080 \
  -healthz-port=10255 \
  -api-version=v1 \
  -node-labels=true

[X-Fleet]
MachineOf=kubernetes-api.service
