#
#   Author: Rohith
#   Date: 2015-07-19 14:12:56 +0100 (Sun, 19 Jul 2015)
#
#  vim:ts=2:sw=2:et
#

[Unit]
Description=Analyzes resource usage and performance characteristics of running containers
Requires=docker.service
After=docker.service

[Service]
Restart=always
ExecStartPre=/usr/bin/docker pull google/cadvisor:latest
ExecStartPre=-/usr/bin/bash -c "docker inspect cadvisor >/dev/null 2>&1 && docker rm -f cadvisor || true"
ExecStart=/usr/bin/docker run \
  -p 4194:8080 --name=cadvisor \
  --volume=/var/run:/var/run:rw \
  --volume=/sys:/sys:ro \
  --volume=/var/lib/docker/:/var/lib/docker:ro \
  --volume=/:/rootfs:ro \
  google/cadvisor:latest

ExecStop=/usr/bin/docker rm -f cadvisor

[Install]
WantedBy=multi-user.target

[X-Fleet]
Global=true
