#
#  Date: 2015-06-01 20:53:44 +0100 (Mon, 01 Jun 2015)
#
#  vim:ts=2:sw=2:et
#

[Unit]
Description=Kubernetes API Server
Documentation=https://github.com/GoogleCloudPlatform/kubernetes
Requires=install-kubernetes.service
After=install-kubernetes.service
After=docker-mirror.service

[Service]
EnvironmentFile=/etc/environment

Restart=always
RestartSec=5s

ExecStartPre=/usr/bin/bash -c "/usr/bin/echo 'NJDUDSKFDDJISWPFDS,sbx,sbx' > /etc/kubernetes/tokens.csv"
ExecStartPre=/usr/bin/chmod +x /opt/bin/hyperkube
ExecStart=/opt/bin/hyperkube apiserver \
  --allow-privileged=true \
  --insecure-port=8080 \
  --advertise-address=${COREOS_PRIVATE_IPV4} \
  --secure-port=6443 \
  --admission-control=NamespaceLifecycle,NamespaceExists,LimitRanger,SecurityContextDeny,ResourceQuota \
  --token-auth-file=/etc/kubernetes/tokens.csv \
  --service-cluster-ip-range=10.200.0.0/16 \
  --etcd-servers=http://127.0.0.1:2379 \
  --logtostderr=true

[X-Fleet]
Global=true
MachineMetadata=kubernetes=true
