#
#   Author: Rohith
#   Date: 2015-05-03 15:28:23 +0100 (Sun, 03 May 2015)
#
#  vim:ts=2:sw=2:et
#

[Unit]
Description=Kubernetes Kubelet
Documentation=https://github.com/GoogleCloudPlatform/kubernetes
Requires=install-kubernetes.service
After=install-kubernetes.service

[Service]
Environment=PATH=/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin:/opt/bin
EnvironmentFile=/etc/environment
Restart=always
RestartSec=5s

ExecStartPre=-/usr/bin/chmod +x /opt/bin/hyperkube
ExecStartPre=/usr/bin/mkdir -p /etc/kubernetes/manifests
ExecStart=/opt/bin/hyperkube kubelet \
  --address=0.0.0.0 \
  --api-servers=http://127.0.0.1:8080 \
  --hostname-override=${COREOS_PRIVATE_IPV4} \
  --cluster-dns=10.200.10.10 \
  --cluster-domain=cluster.local \
  --allow-privileged=true \
  --register-node=false \
  --host-network-sources=* \
  --config=/etc/kubernetes/manifests \
  --logtostderr=true

[Install]
WantedBy=multi-user.target

[X-Fleet]
Global=true
MachineMetadata=kubernetes=true
